<body style="background-color:gray;">

    <div class="row">
        <button type="button" class="btn btn-outline-secondary">
            <img src="/assets/topad.jpg" width="728" height="90">
        </button>
    </div>


    <div class="row">
        <ul>
            <button class="btn btn-primary" type="button"
                style="background-color: #5CB85C; color:white; margin-right: 6px">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow"
                    class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path
                        d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                </svg>PROFIT GENERATOR</button>
            <button class="btn btn-primary" type="button"
                style="background-color:#5CB85C; color:white; margin-right: 6px">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-cart-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>COMPARE PRICES ON MARKETS</button>
            <button class="btn btn-primary" type="button"
                style="background-color: #5CB85C; color:white; margin-right: 6px"> <img
                    src="/assets/logo_skinwallet_SIGN.jpg" width="20" height="20">SELL FOR $ ON SKINWALLET</button>
        </ul>
    </div>

    <div class="btn-group">
        <a href="#" class="btn btn-primary active" aria-current="page"
            style="background-color: #232220; outline-color: #232220;">Sort By</a>
        <a href="#" class="btn btn-primary" style="background-color: #535250; outline-color: #535250;">Date Added</a>
        <a href="#" class="btn btn-primary" style="background-color: #535250; outline-color: #535250;">Price - High to
            Low</a>
        <a href="#" class="btn btn-primary" style="background-color: #535250; outline-color: #535250;">Price - Low to
            High</a>
        <a href="#" class="btn btn-primary" style="background-color: #535250; outline-color: #535250;">Popular</a>
        <a href="#" class="btn btn-primary" style="background-color: #535250; outline-color: #535250;">Volume</a>
    </div>

    <div class="row" style="margin-top: 32px;">
        <div class="btn-group">
            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Rifles
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">M4A4</a></li>
                    <li><a class="dropdown-item" href="#">AK-47</a></li>
                    <li><a class="dropdown-item" href="#">AUG</a></li>
                    <li><a class="dropdown-item" href="#">FAMAS</a></li>
                    <li><a class="dropdown-item" href="#">Galil AR</a></li>
                    <li><a class="dropdown-item" href="#">M4A1-S</a></li>
                    <li><a class="dropdown-item" href="#">SG 553</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Pistols
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">CZ75-Auto</a></li>
                    <li><a class="dropdown-item" href="#">Desert Eagle</a></li>
                    <li><a class="dropdown-item" href="#">Dual Berettas</a></li>
                    <li><a class="dropdown-item" href="#">Five-Seven</a></li>
                    <li><a class="dropdown-item" href="#">Glock-18</a></li>
                    <li><a class="dropdown-item" href="#">P2000</a></li>
                    <li><a class="dropdown-item" href="#">P250</a></li>
                    <li><a class="dropdown-item" href="#">R8 Revolver</a></li>
                    <li><a class="dropdown-item" href="#">Tec-9</a></li>
                    <li><a class="dropdown-item" href="#">USP-S</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    SMGs
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">MAC-10</a></li>
                    <li><a class="dropdown-item" href="#">MP5-SD</a></li>
                    <li><a class="dropdown-item" href="#">MP7</a></li>
                    <li><a class="dropdown-item" href="#">MP9</a></li>
                    <li><a class="dropdown-item" href="#">P90</a></li>
                    <li><a class="dropdown-item" href="#">PP-Bizon</a></li>
                    <li><a class="dropdown-item" href="#">UMP-45</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sniper Rifles
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">AWP</a></li>
                    <li><a class="dropdown-item" href="#">G3SG1</a></li>
                    <li><a class="dropdown-item" href="#">SCAR-20</a></li>
                    <li><a class="dropdown-item" href="#">SSG-08</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Shotguns
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">MAG-7</a></li>
                    <li><a class="dropdown-item" href="#">Nova</a></li>
                    <li><a class="dropdown-item" href="#">Sawed-Off</a></li>
                    <li><a class="dropdown-item" href="#">XM1014</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Heavies
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">M249</a></li>
                    <li><a class="dropdown-item" href="#">Negev</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Knives
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Karambit</a></li>
                    <li><a class="dropdown-item" href="#">Bayonet</a></li>
                    <li><a class="dropdown-item" href="#">M9 Bayonet</a></li>
                    <li><a class="dropdown-item" href="#">Gut Knife</a></li>
                    <li><a class="dropdown-item" href="#">Falchion Knife</a></li>
                    <li><a class="dropdown-item" href="#">Flip Knife</a></li>
                    <li><a class="dropdown-item" href="#">Huntsman Knife</a></li>
                    <li><a class="dropdown-item" href="#">Butterfly Knife</a></li>
                    <li><a class="dropdown-item" href="#">Shadow Daggers</a></li>
                    <li><a class="dropdown-item" href="#">Bowie Knife</a></li>
                    <li><a class="dropdown-item" href="#">Navaja Knife</a></li>
                    <li><a class="dropdown-item" href="#">Stiletto Knife</a></li>
                    <li><a class="dropdown-item" href="#">Talon Knife</a></li>
                    <li><a class="dropdown-item" href="#">Ursus Knife</a></li>
                    <li><a class="dropdown-item" href="#">Classic Knife</a></li>
                    <li><a class="dropdown-item" href="#">Nomad Knife</a></li>
                    <li><a class="dropdown-item" href="#">Skeleton Knife</a></li>
                    <li><a class="dropdown-item" href="#">Survival Knife</a></li>
                    <li><a class="dropdown-item" href="#">Paracord Knife</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Gloves
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Bloodhound Gloves</a></li>
                    <li><a class="dropdown-item" href="#">Driver Gloves</a></li>
                    <li><a class="dropdown-item" href="#">Hand Wraps</a></li>
                    <li><a class="dropdown-item" href="#">Hydra Gloves</a></li>
                    <li><a class="dropdown-item" href="#">Moto Gloves</a></li>
                    <li><a class="dropdown-item" href="#">Specialist Gloves</a></li>
                    <li><a class="dropdown-item" href="#">Sport Gloves</a></li>
                </ul>
            </div>

            <div class="dropdown" style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Others
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Patch</a></li>
                    <li><a class="dropdown-item" href="#">Agent</a></li>
                    <li><a class="dropdown-item" href="#">Graffiti</a></li>
                    <li><a class="dropdown-item" href="#">Collectible</a></li>
                    <li><a class="dropdown-item" href="#">Sticker</a></li>
                    <li><a class="dropdown-item" href="#">Key</a></li>
                    <li><a class="dropdown-item" href="#">Pass</a></li>
                    <li><a class="dropdown-item" href="#">Container</a></li>
                    <li><a class="dropdown-item" href="#">Music Kit</a></li>
                </ul>
            </div>

            <div class="dropdown " style="background-color: #232220; margin-right: 6px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Collections
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item"><a href="#">2020 RMR Challengers</a></li>
                    <li class="dropdown-item"><a href="#">2020 RMR Contenders</a></li>
                    <li class="dropdown-item"><a href="#">2020 RMR Legends</a></li>
                    <li class="dropdown-item"><a href="#">2021 Community Sticker Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Atlanta 2017 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Atlanta 2017 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Atlanta 2017 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">Berlin 2019 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Berlin 2019 Minor Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Berlin 2019 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">Berlin 2019 Returning Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Bestiary Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Boston 2018 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Boston 2018 Minor Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Boston 2018 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">Boston 2018 Returning Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Broken Fang Agents</a></li>
                    <li class="dropdown-item"><a href="#">Broken Fang Sticker Collection</a></li>
                    <li class="dropdown-item"><a href="#">Chicken Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Cologne 2016 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Cologne 2016 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Cologne 2016 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">Community Capsule 2018</a></li>
                    <li class="dropdown-item"><a href="#">Community Graffiti Box 1</a></li>
                    <li class="dropdown-item"><a href="#">Community Sticker Capsule 1</a></li>
                    <li class="dropdown-item"><a href="#">CS20 Sticker Capsule</a></li>
                    <li class="dropdown-item"><a href="#">CS:GO Graffiti #2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">CS:GO Graffiti #3 Collection</a></li>
                    <li class="dropdown-item"><a href="#">CS:GO Graffiti Box</a></li>
                    <li class="dropdown-item"><a href="#">CS:GO Patch Pack</a></li>
                    <li class="dropdown-item"><a href="#">DreamHack 2014</a></li>
                    <li class="dropdown-item"><a href="#">DreamHack 2014 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">DreamHack 2014 Legends</a></li>
                    <li class="dropdown-item"><a href="#">DreamHack Cluj-Napoca 2015 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">DreamHack Cluj-Napoca 2015 Legends</a></li>
                    <li class="dropdown-item"><a href="#">DreamHack Cluj-Napoca 2015 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">EMS Katowice 2014 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">EMS Katowice 2014 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Enfu Sticker Capsule</a></li>
                    <li class="dropdown-item"><a href="#">ESL Cologne 2014 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">ESL Cologne 2014 Legends</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Cologne 2014 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Cologne 2014 Legends</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Cologne 2015 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Cologne 2015 Legends</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Cologne 2015 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Katowice 2015 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">ESL One Katowice 2015 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Feral Predators Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Half-Life: Alyx Patch Pack</a></li>
                    <li class="dropdown-item"><a href="#">Half-Life: Alyx Sticker Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Halo Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Katowice 2019 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Katowice 2019 Minor Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Katowice 2019 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">Katowice 2019 Returning Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Krakow 2017 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Krakow 2017 Legends</a></li>
                    <li class="dropdown-item"><a href="#">Krakow 2017 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">London 2018 Legends</a></li>
                    <li class="dropdown-item"><a href="#">London 2018 Minor Challengers</a></li>
                    <li class="dropdown-item"><a href="#">London 2018 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">London 2018 Returning Challengers</a></li>
                    <li class="dropdown-item"><a href="#">Metal Skill Group Patch Collection</a></li>
                    <li class="dropdown-item"><a href="#">MLG Columbus 2016 Challengers</a></li>
                    <li class="dropdown-item"><a href="#">MLG Columbus 2016 Legends</a></li>
                    <li class="dropdown-item"><a href="#">MLG Columbus 2016 Player Autographs</a></li>
                    <li class="dropdown-item"><a href="#">Perfect World Graffiti Box</a></li>
                    <li class="dropdown-item"><a href="#">Perfect World Sticker Capsule 1</a></li>
                    <li class="dropdown-item"><a href="#">Perfect World Sticker Capsule 2</a></li>
                    <li class="dropdown-item"><a href="#">Pinups Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Poorly Drawn Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Recoil Sticker Collection</a></li>
                    <li class="dropdown-item"><a href="#">Shattered Web Agents</a></li>
                    <li class="dropdown-item"><a href="#">Shattered Web Sticker Collection</a></li>
                    <li class="dropdown-item"><a href="#">Skill Groups Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Slid3 Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Sticker Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Sticker Capsule 2</a></li>
                    <li class="dropdown-item"><a href="#">Sugarface Capsule</a></li>
                    <li class="dropdown-item"><a href="#">Team Roles Capsule</a></li>
                    <li class="dropdown-item"><a href="#">The 2018 Inferno Collection</a></li>
                    <li class="dropdown-item"><a href="#">The 2018 Nuke Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Alpha Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Ancient Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Arms Deal 2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Arms Deal 3 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Arms Deal Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Assault Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Aztec Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Baggage Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Bank Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Blacksite Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Bravo Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Breakout Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Cache Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Canals Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Chop Shop Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Chroma 2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Chroma 3 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Chroma Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Clutch Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Cobblestone Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Control Collection</a></li>
                    <li class="dropdown-item"><a href="#">The CS20 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Danger Zone Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Dust 2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Dust Collection</a></li>
                    <li class="dropdown-item"><a href="#">The eSports 2013 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The eSports 2013 Winter Collection</a></li>
                    <li class="dropdown-item"><a href="#">The eSports 2014 Summer Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Falchion Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Fracture Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Gamma 2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Gamma Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Glove Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Gods and Monsters Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Havoc Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Horizon Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Huntsman Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Inferno Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Italy Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Lake Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Militia Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Mirage Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Norse Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Nuke Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Office Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Operation Broken Fang Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Operation Hydra Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Overpass Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Phoenix Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Prisma 2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Prisma Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Revolver Case Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Rising Sun Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Safehouse Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Shadow Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Shattered Web Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Snakebite Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Spectrum 2 Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Spectrum Collection</a></li>
                    <li class="dropdown-item"><a href="#">The St. Marc Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Train Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Vanguard Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Vertigo Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Wildfire Collection</a></li>
                    <li class="dropdown-item"><a href="#">The Winter Offensive Collection</a></li>
                    <li class="dropdown-item"><a href="#">The X-Ray Collection</a></li>
                    <li class="dropdown-item"><a href="#">Trolling Graffiti Collection</a></li>
                    <li class="dropdown-item"><a href="#">Warhammer 40,000 Sticker Capsule</a></li>

                </ul>
            </div>

        </div>
    </div>


    <div class="container-fluid">
        <div class="d-flex flex-row">
            <item-card>Loading</item-card>
            <item-card>Loading</item-card>
            <item-card>Loading</item-card>
            <item-card>Loading</item-card>
            <item-card>Loading</item-card>
        </div>
    </div>

</body>