<div class="navbar bg-dark">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class ="navbar-brand" href="#">
                <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
            </a>
        </div>
    </nav>

     <div class="container-fluid">
        <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          $
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">USD $</a></li>
          <li><a class="dropdown-item" href="#">EUR €</a></li>
          <li><a class="dropdown-item" href="#">GBP £</a></li>
          <li><a class="dropdown-item" href="#">RUB ₽</a></li>
          <li><a class="dropdown-item" href="#">BRL R$</a></li>
          <li><a class="dropdown-item" href="#">CAD $</a></li>
          <li><a class="dropdown-item" href="#">NOK KR</a></li>
          <li><a class="dropdown-item" href="#">KRW ₩</a></li>
          <li><a class="dropdown-item" href="#">TRY ₺</a></li>
          <li><a class="dropdown-item" href="#">MXN $</a></li>
          <li><a class="dropdown-item" href="#">IDR RP</a></li>
          <li><a class="dropdown-item" href="#">MYR RM</a></li>
          <li><a class="dropdown-item" href="#">PHP ₱</a></li>
          <li><a class="dropdown-item" href="#">SGD $</a></li>
          <li><a class="dropdown-item" href="#">THB ฿</a></li>
          <li><a class="dropdown-item" href="#">AUD $</a></li>
          <li><a class="dropdown-item" href="#">NZD $</a></li>
          <li><a class="dropdown-item" href="#">DKK KR</a></li>
          <li><a class="dropdown-item" href="#">SEK KR</a></li>
          <li><a class="dropdown-item" href="#">ZAR R</a></li>
          <li><a class="dropdown-item" href="#">CNY ¥</a></li>
          <li><a class="dropdown-item" href="#">JPY ¥</a></li>
          <li><a class="dropdown-item" href="#">CHF CHF</a></li>
        </ul>
    </div>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">BITSKINS</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">CSMONEY</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">CSGO.COM</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">SKINPORT</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">WAXPEER</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">ShadowPay</button>
        </li>
    </ul>
</div>