<div id="topbar" class="navbar" style="background-color: #232220;">
    <ul class="nav nav-pills">
        <li>
            <div class="container">
                <a class ="navbar-brand" href="#">
                    <img src="/assets/SA-Logo-gold-trans.jpg" width="70" height="65">
                </a>
            </div>
        </li>

        <li>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
            </form>
        </li>

          
        <li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: yellowgreen; position: static;">
                    $
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">USD $</a></li>
                    <li><a class="dropdown-item" href="#">EUR €</a></li>
                    <li><a class="dropdown-item" href="#">GBP £</a></li>
                    <li><a class="dropdown-item" href="#">RUB ₽</a></li>
                    <li><a class="dropdown-item" href="#">BRL R$</a></li>
                    <li><a class="dropdown-item" href="#">CAD $</a></li>
                    <li><a class="dropdown-item" href="#">NOK KR</a></li>
                    <li><a class="dropdown-item" href="#">KRW ₩</a></li>
                    <li><a class="dropdown-item" href="#">TRY ₺</a></li>
                    <li><a class="dropdown-item" href="#">MXN $</a></li>
                    <li><a class="dropdown-item" href="#">IDR RP</a></li>
                    <li><a class="dropdown-item" href="#">MYR RM</a></li>
                    <li><a class="dropdown-item" href="#">PHP ₱</a></li>
                    <li><a class="dropdown-item" href="#">SGD $</a></li>
                    <li><a class="dropdown-item" href="#">THB ฿</a></li>
                    <li><a class="dropdown-item" href="#">AUD $</a></li>
                    <li><a class="dropdown-item" href="#">NZD $</a></li>
                    <li><a class="dropdown-item" href="#">DKK KR</a></li>
                    <li><a class="dropdown-item" href="#">SEK KR</a></li>
                    <li><a class="dropdown-item" href="#">ZAR R</a></li>
                    <li><a class="dropdown-item" href="#">CNY ¥</a></li>
                    <li><a class="dropdown-item" href="#">JPY ¥</a></li>
                    <li><a class="dropdown-item" href="#">CHF CHF</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"> <img src="/assets/bitskins-logo-mini.jpg" width="20" height="17">
                    <img src="/assets/bitskins-logo-text.jpg" width="80" height="15"></button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"> <img src="/assets/csm-mini-logo.jpg" width = "18" height = "19">
                    <img src="/assets/csm-logo.jpg" width="65" height="21"></button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><img src="/assets/logo_market_light_color.jpg" width = "25" height = "25">
                    <img src="/assets/market_logo_arrows-market.jpg" width="66" height="23"></button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><img src="/assets/skinbay-logo.jpg" width = "26" height = "17">
                    <img src="/assets/skinporttransparent.jpg" width="70" height="8"></button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><img src="/assets/waxpeer-logo-w.jpg" width = "16" height = "16">
                    <img src="/assets/waxpeer-logo-axpeer.jpg" width="70" height="23"></button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><img src="/assets/sp-logo-S.jpg" width = "16" height = "20">
                    <img src="/assets/sp-logo-text.jpg" width="80" height="13"></button>
            </li>
    </ul>
    
    <ul class="nav nav-pills">
        <a class ="navbar-brand" href="#">
            <img src="/assets/exooo.jpg" width="137" height="55">
        </a>
      
        <a class ="navbar-brand" href="#">
           <img src="/assets/sits_01.jpg" width="180" height="35">
       </a> 
   </ul>

</div>