<div class="sidenav">
    
     <ul class="nav nav-pills nav-flush bg-dark">
            <li>
                <i class="bi bi-list"></i>
            </li>
            <li>
                <i class="bi bi-cart-fill"></i>
            </li>
            <li>
                <i class="bi bi-currency-dollar"></i>
            </li>
            <li>
                <i class="bi bi-wrench"></i>
            </li>
            <li>
                <i class="bi bi-lightning-charge-fill"></i>
            </li>
            <li>
                <i class="bi bi-person-fill"></i>
            </li>
            <li>
                <i class="bi bi-people-fill"></i>
            </li>
            <li>
                <i class="bi bi-search"></i>
            </li>
            <li>
                <i class="bi bi-cash"></i>
            </li>
            <li>
                <i class="bi bi-heart-fill"></i>
            </li>
            <li>
                <i class="bi bi-chat-fill"></i>
            </li>
            <li>
                <i class="bi bi-discord"></i>
            </li>
        </ul>
  </div>