<div class="container-fluid">
    <div class="row ">
        <div class="col ps-0">
            <app-top-bar>Loading</app-top-bar>
        </div>
    </div>

    <div class="row">
        <div class="col-1 ps-0 pe-0">
            <app-hamburger-menu>Loading</app-hamburger-menu>
        </div>

        <div class="col ps-0">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <footer>loading</footer>
        </div>
    </div>
</div>